.attributForm {
  @extend %formulaireItem;
  opacity: 0;
  transform: translateX(500px);
  animation: apparition 300ms ease-in forwards;

  h3 {
    margin: 20px 0px;
  }

  input,
  select {
    width: 100%;
    margin: 15px 0px;
    padding: 8px 13px;
    border: 1px solid #e8e8e8;
  }

  button {
    @extend %buttonForm;
    width: fit-content;
    margin: 10px auto 0px auto;
  }
}
