.itemForm {
  @extend %formulaireItem;
  max-width: 1100px;
  opacity: 0;
  transform: translateX(500px);
  animation: apparition 300ms ease-in forwards;

  h4 {
    font-size: 1.1em;
    font-weight: 200;
    letter-spacing: 1px;

    &::after {
      content: "";
      display: block;
      height: 1px;
      width: 5%;
      background-color: $main-color;
    }
  }

  .ipt {
    width: 100%;
  }

  .provenance,
  .attribut {
    .select {
      display: flex;
      flex-direction: column;
      position: relative;
      width: 100%;
      border-radius: 5px;
      border: 2px solid #e8e8e8;
      font-family: "Raleway", sans-serif;

      input {
        transition: all 300ms ease-in;

        &::placeholder {
          text-transform: capitalize;
        }
      }

      p {
        font-size: 0.9em;
        color: #858585;
      }

      .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        border-radius: 5px;
        cursor: pointer;

        input {
          background-color: transparent;
          border: none;
        }

        &:hover {
          background-color: darken(white, 4);
        }

        p {
          text-transform: capitalize;
          font-family: "Raleway", sans-serif;
        }

        img {
          transform: rotate(-90deg);
          height: 20px;
          margin-right: 15px;
        }
      }

      .look {
        display: block !important;
        position: absolute;
        background: white;
        width: 100%;
        height: 0px;
        left: 0px;
        top: 40px;
        border: 1px solid #e8e8e8;
        overflow: hidden;
        animation: fadeInSelectBox 150ms ease-in forwards;
      }

      .dropdown {
        display: none;
        opacity: 0;
        z-index: 1;
        max-height: 200px;
        overflow-y: auto;

        ul {
          li {
            font-size: 0.9em;
            font-family: "Raleway", sans-serif;
            color: black !important;
            padding: 7px 8px;
            cursor: pointer;

            &:hover {
              background-color: #e8e8e8;
            }
            &:nth-child(1) {
              margin-top: 2px;
            }
          }
        }
      }
    }
  }

  .informations,
  .provenance,
  .attribut,
  .stock {
    display: grid;
    gap: 15px;
    width: 100%;
    margin: 20px 0px;

    input,
    textarea,
    select {
      width: 100%;
      border: 2px solid #e8e8e8;
      border-radius: 3px;
      padding: 10px 15px;
      font-family: $font-family-second;
    }

    input {
      &:focus {
        border: 2px solid $main-color;
      }
    }
  }

  .informations {
    grid-template-areas:
      "informations  informations"
      "nom reference"
      "description description";

    h4 {
      grid-area: informations;
    }

    input[name="nom"] {
      grid-area: nom;
    }
    input[name="reference"] {
      grid-area: reference;
    }
    textarea {
      resize: none;
      height: 100px;
      grid-area: description;
    }
  }

  .provenance {
    grid-template-areas:
      "provenance  provenance"
      "fournisseur fournisseur"
      "pays region";

    h4 {
      grid-area: provenance;
    }

    div {
      select {
        width: 100%;
      }
      &:nth-child(2) {
        grid-area: fournisseur;
      }

      &:nth-child(3) {
        grid-area: pays;
      }

      &:nth-child(4) {
        grid-area: region;
      }
    }
  }
  .attribut {
    grid-template-areas:
      "attribut  attribut"
      "categorie attribut2"
      "optionattribut optionattribut"
      "prix prix";

    h4 {
      grid-area: attribut;
    }

    div {
      select {
        width: 100%;
      }
      &:nth-child(2) {
        grid-area: categorie;
      }

      &:nth-child(3) {
        grid-area: attribut2;
      }

      &:nth-child(4) {
        grid-area: optionattribut;
      }
    }
    input {
      grid-area: prix;
    }
  }

  .stock {
    grid-template-areas:
      "stock  stock"
      "qteStock qteStock"
      "seuil notif"
      "checkbox checkbox";

    h4 {
      grid-area: stock;
    }

    input[name="qte_stock"] {
      grid-area: qteStock;
    }

    input[name="seuil_restocks"] {
      grid-area: seuil;
    }

    input[name="seuil_notif"] {
      grid-area: notif;
    }
    .checkbox {
      grid-area: checkbox;
      display: flex;
      align-items: center;
      max-width: 200px;
      margin: 10px 0px;

      input {
        margin-right: 15px;
      }

      label {
        text-wrap: nowrap;
      }
    }
  }

  .end {
    display: grid;
    grid-template-areas:
      "buttonimg commentaire"
      "imgpreview commentaire"
      "imgpreview validation";
    gap: 15px;

    button[name="image"] {
      grid-area: buttonimg;
      width: 40%;
    }

    button[nom="submitAddItem"] {
      grid-area: validation;
    }

    .commentaire {
      grid-area: commentaire;

      h4 {
        margin-bottom: 10px;
      }

      textarea {
        width: 100%;
        resize: none;
        border: 2px solid #e8e8e8;
        border-radius: 3px;
        padding: 10px 15px;
        font-family: $font-family-second;
      }
    }

    .imgPreview {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 260px;
      height: 260px;
      margin: auto;
      font-size: 0.9em;
      font-weight: 200;
      border-radius: 5px;
      border: 3px solid #e8e8e8;
      grid-area: imgpreview;

      img {
        height: 85%;
      }

      button {
        position: absolute;
        top: -1px;
        right: -1px;
        width: 35px;
        height: 35px;
        padding: 0px 0px 0px 4px;

        &:hover {
          background-color: darken($main-color, 10) !important;
        }

        .closeLine_1,
        .closeLine_2 {
          height: 2px;
          width: 90%;
          background-color: white;
        }

        .closeLine_1 {
          transform: rotate(-45deg);
        }

        .closeLine_2 {
          position: relative;
          top: -2px;
          transform: rotate(45deg);
        }
      }
    }
  }

  button {
    @extend %buttonForm;
    margin: auto;
  }
}
