@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.viewImage {
  max-width: 1200px;
  position: absolute;
  z-index: 1;
  background-color: white;
  height: 85%;
  width: 80%;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  opacity: 0;
  padding: 50px;
  overflow: scroll;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 5px;
  animation: fadeIn 300ms ease-in-out forwards;

  .selected {
    border: 2px solid $main-color !important;
  }

  button {
    position: absolute;
    top: 25px;
    right: 25px;
    height: 30px;
    width: 30px;
    background: transparent;
    cursor: pointer;

    .closeLine_1,
    .closeLine_2 {
      height: 2px;
      width: 90%;
      background-color: black;
    }

    .closeLine_1 {
      transform: rotate(-45deg);
    }

    .closeLine_2 {
      position: relative;
      top: -2px;
      transform: rotate(45deg);
    }
  }

  .imagecard {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 220px;
    background-color: white;
    border: 2px solid #e8e8e8;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: #bdbdbd;
    }

    img {
      height: 85%;
    }
  }
}
