.popup {
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 1;
  bottom: 30px;
  padding: 20px 45px;
  border-radius: 5px;
  background-color: rgba(209, 72, 77, 0.9);
  left: 50%;
  opacity: 0;
  transform: translateX(-50%), translateY(200px);
  animation: fadeInValidationCartPopup 300ms ease-in forwards;

  p {
    color: white;
    font-size: 0.9em;
    font-weight: 400;
  }

  button {
    @extend %buttonForm;
    background-color: white;
    margin-left: 20px;
    cursor: pointer;

    p {
      font-size: 1em;
      font-weight: 500;
      color: $main-color;
    }

    &:hover {
      background-color: #e8e8e8;
    }
  }
}
