.categorieForm {
  @extend %formulaireItem;
  opacity: 0;
  transform: translateX(500px);
  animation: apparition 300ms ease-in forwards;

  h3 {
    font-family: $font-family-second;
  }

  input {
    border: 2px solid #e8e8e8;
    border-radius: 5px;
    padding: 8px 13px;
    margin: 10px 0px;
  }

  button {
    @extend %buttonForm;
    width: fit-content;
    margin: 10px auto 0px auto;
  }
}
