// Déclaration des classes SCSS générique :

%flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

%absoluteCenter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

%inputForm {
  padding: 2vh;
  border-radius: 100vh;
  background-color: $primary-color;
  color: white;
}

%buttonForm {
  padding: 0.7vh 1.5vh;
  border-radius: 3px;
  cursor: pointer;
  color: white;
  background-color: $main-color;
  transition: all 250ms ease-in-out;

  &:hover {
    background-color: $main-color-darken;
  }
}
