// Déclaration des classes SCSS générique :

%flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

%absoluteCenter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

%inputForm {
  padding: 2vh;
  border-radius: 100vh;
  background-color: $primary-color;
  color: white;
}

%buttonForm {
  padding: 0.7vh 1.5vh;
  border-radius: 3px;
  cursor: pointer;
  color: white;
  background-color: $main-color;
  transition: all 250ms ease-in-out;
  font-family: "Raleway", sans-serif;

  &:hover {
    background-color: $main-color-darken;
  }
}

%formulaireItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1100px;
  margin: 60px auto;
  padding: 25px 80px;
  border: 2px solid #e8e8e8;
  border-radius: 3px;
  font-family: $font-family-second;

  h3 {
    padding-left: 10px;
    color: $main-color;
    font-weight: 300;
    letter-spacing: 2px;
    margin: 0 !important;
  }

  hr {
    width: 15%;
    height: 1px;
    margin: 4px 0px 20px 0px;
    border: none;
    background-color: $main-color;
  }
}
