// Déclaration des variables SCSS du projet :

// Banque couleur :
$primary-color: #0b0a09;
$secondary-color: #e36066;
$tertiary-color: #d4a455;

$font-family-main: "Nunito", sans-serif;
$font-family-second: "Raleway", serif;

$navbar-height: 60px;

$navbarStock-width: 170px;

$main-color: #d1484d;
$main-color-darken: darken(rgba(227, 96, 101, 0.7), 15);
